################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Aula02_HeloWord/bin/Debug/net6.0
/Aula02_HeloWord/obj
/Aula03_Variaveis/bin/Debug/net6.0
/Aula03_Variaveis/obj
/Aula04_ExprAritLogic/bin/Debug/net6.0
/Aula04_ExprAritLogic/obj
